<h1>With ngIf and ngElse</h1>
<div *ngIf="user1 | async; let user; else loading;">
  <h2>{{user.firstName}} {{user.lastName}}</h2>
  <dl>
    <dt>Age:</dt>
    <dd>{{user.age}}</dd>

    <dt>Height:</dt>
    <dd>{{user.height}}</dd>

    <dt>Mass:</dt>
    <dd>{{user.mass}}</dd>

    <dt>Homeworld:</dt>
    <dd>{{user.homeworld}}</dd>
  </dl>
</div>
<ng-template #loading>Loading User Data...</ng-template>

<br>

<h2>Async Pipe with share() operator</h2>
<div>
  <h2>{{(user2 | async)?.firstName}} {{(user2 | async)?.lastName}}</h2>
  <dl>
    <dt>Age:</dt>
    <dd>{{(user2 | async)?.age}}</dd>

    <dt>Height:</dt>
    <dd>{{(user2 | async)?.height}}</dd>

    <dt>Mass:</dt>
    <dd>{{(user2 | async)?.mass}}</dd>

    <dt>Homeworld:</dt>
    <dd>{{(user2 | async)?.homeworld}}</dd>
  </dl>
</div>

<h2>Manual subscription Handling in TypEscript</h2>
<div>
  <h2>{{user3?.firstName}} {{user3?.lastName}}</h2>
  <dl>
    <dt>Age:</dt>
    <dd>{{user3?.age}}</dd>

    <dt>Height:</dt>
    <dd>{{user3?.height}}</dd>

    <dt>Mass:</dt>
    <dd>{{user3?.mass}}</dd>

    <dt>Homeworld:</dt>
    <dd>{{user3?.homeworld}}</dd>
  </dl>
</div>